<!--修改球员信息div-->
<form class="layui-form" action="../../page/PlayerInfo/update" method="post">
    <!--携带ID隐含域,不能修改ID-->
    <div class="layui-form-item">
        <div class="layui-input-block">
            <input type="hidden" name="id" required lay-verify="required"
                   autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">球员编号</label>
        <div class="layui-input-block">
            <input type="text" name="playerId" required lay-verify="required"
                   autocomplete="off" class="layui-input ">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">英文名称</label>
        <div class="layui-input-block">
            <input type="text" name="nameEn" required lay-verify="required"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">中文名称</label>
        <div class="layui-input-block">
            <input type="text" name="nameCh" required lay-verify="required" autocomplete="off"
                   class="layui-input">
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">球员身高</label>
        <div class="layui-input-block">
            <input type="text" name="height" required lay-verify="required"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">球员体重</label>
        <div class="layui-input-block">
            <input type="text" name="weight" required lay-verify="required"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">球员球龄</label>
        <div class="layui-input-block">
            <input type="text" name="bollYear" required lay-verify="required"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">球员国籍</label>
        <div class="layui-input-block">
            <input type="text" name="nationality" required lay-verify="required"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">球员战绩</label>
        <div class="layui-input-block">
            <input type="text" name="playerRecordId" required lay-verify="required"
                   autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">选择角色</label>
        <div class="layui-input-block">
            <!--th:field="*{playerInfo.playerRole}" playerInfo表示球员实体,playerRole球员实体的属性,
            比如 playerRole获得的是2(1:对应前锋,2:中锋,3:后卫),那么就显示中锋,*代表所有的都会匹配显示-->
            <select name="playerRole" lay-verify="required">
                <option value=""></option>
                <!--playerRoleList后台获取到的集合
                th:each="playerRole:${playerRoleList}"  遍历的写法,相当于foreach,playerRole表示变量(实体),${playerRoleList}表示需要遍历的集合
                th:value="${playerRole.id}作为value值    ${playerRole.id}球员角色ID作为value值
                th:text="${playerRole.name}"            作为下拉框需要显示的内容
                th:each="playerRole:${playerRoleList}"-->
                <option
                ></option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">选择球队</label>
        <div class="layui-input-block">
            <select name="Team" lay-verify="required">
                <!--<option value=""></option>-->
                <option></option>
            </select>
        </div>
    </div>


    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo" type="submit">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
