<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>NBA后台数据管理</title>
    <script src="../static/js/jquery-3.2.1.js" th:src="@{/js/jquery-3.2.1.js}"></script>
    <link rel="shortcut icon" href="../static/images/admin.jpg" th:href="@{/images/admin.jpg}"/>
    <!--<link rel="stylesheet" href="../static/css/layui.css">-->
    <link rel="stylesheet" href="../static/css/layui.css" th:href="@{/css/layui.css}">
    <!--引入首页css-->
    <link rel="stylesheet" href="../static/css/nbacss/index.css" th:href="@{/css/nbacss/index.css}">
    <!--引入左侧和头部,就是公共部分-->
    <script src="../static/js/common/common.js" th:src="@{/js/common/common.js}"></script>

    <script src="../static/layui.js" th:src="@{/layui.js}"></script>
    <!--引入分页-->
    <script src="../static/js/page.js" th:src="@{/js/page.js}"></script>
    <!--自定义css,填补layui坑-->

</head>
<body class="layui-layout-body">


<div class="layui-layout layui-layout-admin">
    <!--公共部分-->
    <div id="common"></div>

    <!-- 内容主体区域 -->
    <div class="layui-body">
        <button class="layui-btn" onclick="addPlayer()">增加球员</button>
        <button class="layui-btn" onclick="add()">Ajax异步增加球员</button>

        <!--球员数据表格-->
        <table class="layui-hide" id="demo" lay-filter="test"></table>
        <script type="text/html" id="barDemo">
            <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
            <a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        </script>







    </div>


    <!--注意css需要class="layui-form"-->

    <div id="ajaxAdd" class="layui-form" style="display: none">
        <h2 style="margin-left: 150px">---- 操 作 球 员 信 息 ----</h2><br>
        <div class="layui-form-item">
            <label class="layui-form-label">球员编号</label>
            <div class="layui-input-block">
                <input type="text" name="playerId" required lay-verify="required" placeholder="球员编号24000以上数字"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">英文名称</label>
            <div class="layui-input-block">
                <input type="text" name="nameEn" required lay-verify="required" placeholder="英文名称"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">中文名称</label>
            <div class="layui-input-block">
                <input type="text" name="nameCh" required lay-verify="required" placeholder="中文名称"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">球员身高</label>
            <div class="layui-input-block">
                <input type="text" name="height" required lay-verify="required" placeholder="请输入球员身高,如:1.89米"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">球员体重</label>
            <div class="layui-input-block">
                <input type="text" name="weight" required lay-verify="required" placeholder="请输入球员体重,如109.35kg"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">球员球龄</label>
            <div class="layui-input-block">
                <input type="text" name="bollYear" required lay-verify="required" placeholder="请输入球员球龄,如3"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">球员国籍</label>
            <div class="layui-input-block">
                <input type="text" name="nationality" required lay-verify="required" placeholder="请输入球员国籍"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">球员战绩</label>
            <div class="layui-input-block">
                <input type="text" name="playerRecordId" required lay-verify="required"
                       placeholder="请输入球员战绩ID,24000以上数字" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">选择角色</label>
            <div class="layui-input-block" style="width: 300px">
                <select name="playerRole" lay-verify="required">
                    <option value=""></option>
                    <!--playerRoleList后台获取到的集合th:each进行遍历,playerRole作为集合对象的变量名称,th:value="${playerRole.id}作为value值
                    th:text="${playerRole.name}"作为需要显示的内容-->
                    <option th:each="playerRole:${playerRoleList}" th:value="${playerRole.id}"
                            th:text="${playerRole.name}" name="test"></option>

                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">选择球队</label>
            <div class="layui-input-block" style="width: 300px">
                <select name="teamId" lay-verify="required">
                    <option value=""></option>
                    <option th:each="team:${teamList}" th:value="${team.id}" th:text="${team.teamNameCh}"
                            id="opt"></option>
                </select>
            </div>
        </div>


        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo" type="submit" id="sub">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>


        </div>

    </div>

</div>


</body>


<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;

    });
</script>
<script>
    function addPlayer() {
        window.location.href = "http://localhost:8080/sys/page/PlayerInfo/goAdd"
    }

</script>

<script>
    function add() {

        $(".layui-body").append($("#ajaxAdd").show());


        var $formArea = $(".layui-body").find(":input");//获取所有表单区域所有表单元素


        $("#sub").click(function () {
            var myArry = $formArea.serialize();//序列化为传参形式[数组形式]
            // var myString = $.param(myArry);//改成字符串形式

            $.post("http://localhost:8080/sys/data/PlayerInfo/addPlayerInfo", myArry, callBack, "JSON");
            layer.alert('添加成功!', {icon: 6});

            //执行成功的回调函数(返回json形式)
            function callBack(data) {

                if (data.result == "ok") {
                    layer.alert('添加成功!', {icon: 6});
                    $("#ajaxAdd").remove();
                } else {
                    layer.alert('添加失败!', {icon: 5});
                    $("#ajaxAdd").remove();
                }
            }

        })


    }


</script>


</html>